.loginForm {
  display: flex;
  flex-direction: column;

  button {
    display: block;
    width: 300px;
    margin: auto;
    font-size: 25px;
    background-color: #f0bb53;
    border: 0;
    padding: 20px 0;
    outline: 0;
    border-radius: 100px;
    color: white;
  }

}


.keyboard-container {
  position: absolute;
  //width: 50%;
  top:530px;
  left: 50%;
  right: 0;
  .keyboard{
    position: relative;
    left: -50%;
  }
}
.simple-keyboard {
  max-width: 850px;
}
